# Environment & Secret Credentials
.env
*.env
!.env.example

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & VSCode related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android related
/android/.gradle/
/android/local.properties
/android/key.properties
*.keystore
*.jks
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.aab

# iOS related
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.podspec
/ios/Flutter/Flutter.framework
/ios/Flutter/App.framework
/ios/Pods/
/ios/.symlinks/
